/* © 2025 Romar Jabez */

.canvas-wrapper {
    padding: 20px;
    background-color: #eae8e8;
    border-radius: 18px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.7);
    width: 76.5vw;
    height: 92vh;
}

.canvas-status {
    display: flex;
    gap: 30px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 18px;
}
