/* © 2025 Romar Jabez */

.menu {
    font-family: 'Inter', sans-serif;
    background-color: #87ac84;
    color: #1a2618;
    border-radius: 18px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.7);
    height: 95vh;
    width: 350px;
}

.title {
    margin: 0;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding: 20px;
}