/* © 2025 Romar Jabez */

body {
    background-color: #b2e3af;
    margin: 0;
    padding: 20px;
    user-select: none;
}

.content {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-container.dual {
    display: flex;
    gap: 10px;
}
